
#programming_rhs {
    display: grid;
    grid-template-columns: repeat(3, 70px) 1fr;
    grid-template-rows: 20% 5% 70% 5%;
    position: relative;
    
    min-width: 57.7%;
    max-width: 57.7%;
    height:100%;
  
  }


cards {
    width:100%;
    height: 100%;
    background-color: black;
    display: flex;
    transition: 2s;
    
  }
  
  /* .cards:hover {
   border-left: 5px solid rgba(156, 156, 156, 03.5em);
   grid-column: 1 / span 4;
   width: 200%;
  } */
  
  
  
    #card1 {
      grid-row: 3 / span 1;
      grid-column: 1 /span 1;
      border-right: 1px solid rgb(160, 160, 160);
      border-bottom: 4px solid white;
      box-shadow: white 5px 5px 10px;
      z-index: 10;
      
    }
  
    #card1:hover {
      background-color: rgb(56, 56, 56);
      width: 1200%;
    }
  
    #card2 {
      top: -20px;
      grid-row: 3 / span 1;
      grid-column: 2 /span 1;
     
      border-right: 1px solid rgb(160, 160, 160);
      border-bottom: 2px solid white;
      border-top: 2px solid white; 
      box-shadow: white 5px 5px 10px;
      z-index: 5; 
      
    }
  
    #card2:hover {
      background-color: rgb(56, 56, 56);
      width: 1000%;
    }
  
    #card3 {
      grid-row: 3 / span 1;
      grid-column: 3 /span 1;
      transition: 2s;
      border-right: 1px solid rgb(160, 160, 160);
      border-top: 4px solid rgb(160, 160, 160);
      box-shadow: rgb(192, 192, 192) 5px 5px 10px;
      z-index: 1;
    }
  
    #card3:hover {
      background-color: rgb(56, 56, 56);
      width: 900%;
    }








    main {
      display: flex;
     
      
      flex-direction: column;
      align-items: center;
     
      
    }
    
    #section_about {
      display:flex;
      position: relative;
      width: 100%;
      height: 400px;
      background-color: black;
      margin: 0;
     
    }
    
    #section_about h1 {
      
      height: 20px;
      font-size: 6em;
      position: relative;
      top: 180px;
      right: 150px;
      padding: 0;
      margin: 0;
      font-family: 'Poppins', sans-serif;
      transform: rotate(270deg);
      color: rgb(255, 255, 255);
      -webkit-text-fill-color: rgb(0, 0, 0); /* Will override color (regardless of order) */
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: rgba(122, 116, 116, 0.9);
      z-index: 1;
      
    }
    
    #section_about figure {
      /* background-color: blueviolet; */
      display: flex;
      position:relative;
      right: 180px;
      height: 100%;
      min-width: 35%;
      margin: 0;
    }
    
    #t_view {
      position: relative;
      height: 100%;
      
    }
    
    #section_about p {
      position: relative;
      right: 5%;
      /* background-color: pink; */
      width: 45%;
      margin: auto auto;
      justify-content: center;
      text-align: justify;
      
      color: white;
     
    }
    
    
    /* ####################################### PROGRAMMING ################################# */
    
    #programming_section {
      display: flex;
     
      width: 100%;
      height: 400px;
      
    }
    
    #programming_lhs {
      width: 42.3%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    
    #programming_lhs p {
      color: black;
      margin: 20px;
    
    }
    
    
    
    #programming_rhs {
      display: flex;
      flex-wrap: wrap;
      
      position: relative;
      
      
      min-width: 57.7%;
      max-width: 57.7%;
      height:100%;
      
      
      
    }
    
    /* #programming_rhs div {
      position: relative;
      height: 100px;
      width: 100px;
      background-color: black;
    } */
    
    #programming_rhs h1 {
      position: relative;
      width: 100%;
      height: 20%;
      top: -10px;
      font-family: 'Poppins', sans-serif;
      -webkit-text-fill-color: rgb(255, 255, 255); /* Will override color (regardless of order) */
      -webkit-text-stroke-width: 2px;
      -webkit-text-stroke-color: rgba(0, 0, 0, 0.9);
      letter-spacing: 0.1em;
      font-size: 5.8em;
      
      margin: 0;
      padding: 0;
    }
    
    #card_house {
      display: flex;
      flex-wrap: wrap;
      position: relative;
      background-color: black;
      width: 100%;
      height: 75%;
      
      align-items: center;
      justify-content: space-around;
      
      
    
    }
    
      #card1 {
        display: flex;
        flex: wrap;
        justify-content: center;
        align-items: center;
        text-align: justify;
        position: relative;
        background-color: black;
        width: 45%;
        height: 90%;
        color: white;
        padding: 20px;
        
      }
    
      #card2 {
        display: flex;
        flex: wrap;
        justify-content: center;
        text-align: justify;
        align-items: center;
        position: relative;
        background-color: black;
        width: 45%;
        height: 90%;
        color: white;
        padding: 20px;
        
      }
    
    
     
        
      
     
      
    #spacer_para {
      height: 5%;
    }